/** Here is the most amazingly awesome white belt coding ninja CSS  **/

/* Body 
-------------------------------------------------- */
body{
	background-color: #ffffff;
	background-image: url("../images/gbg.jpg");
  background-size: 1600px 860px;
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: 'Righteous', cursive;
  color: white;

}

.button {
    background-color: #4CAF50;
  }



  /* Text style
-------------------------------------------------- */
h1 {
    text-align: center;
    text-decoration: underline;
    color:  #8B4513;
  }