/** Here is the most amazingly awesome white belt coding ninja CSS  **/

/* Body 
-------------------------------------------------- */
body{
	background-color: #000000;
	background-image: url("../images/gbg2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: 'Righteous', cursive;
  color: white;

}

/*.container-fluid {
  margin: 0 auto;
  text-align: center;
}

.col-md-12 {
  margin: 0 auto;
}*/

.row {
    margin-top: 15px auto;
    text-align: center;
  }

.page-header {
    margin: 0 auto;
    text-align: center;
}

  /* Text style
-------------------------------------------------- */
h1 {
    text-align: center;
    text-decoration: underline;
    color:  #8B4513;
  }